{% extends 'base/base.html' %}
{% block page_content %}

   <!-- Basic Examples -->
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    LISTADO DE USUARIOS
                </h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <b>TABLA</b>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">MODAL - DEFAULT SIZE</button>
                                        <li><a onclick="return abrir_modal('{% url 'users:user_new' %}')">Nuevo</a></li>

                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            {% if not obj %}
                            <div class="alert alert-info"No Hay Usuarios</div>
                            {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Dni</th>
                                            <th>username</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>

                                            <th>estado</th>
                                            <th>telefono</th>
                                            <th class="all">Acciones</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for item in obj %}
                                        <tr>
                                            <th>{{item.id}}</th>
                                            <th>{{item.dni}}</th>
                                            <th>{{item.username}}</th>
                                            <th>{{item.name}}</th>
                                            <th>{{item.apellido}}</th>

                                            <th onclick="inactivar({{ item.id }})" >  {% if item.is_active %}
                                              <div  class="col-sm-3">
                                                <div class="switch" >
                                                    <h4><label><input type="checkbox" checked><span class="lever switch-col-red"></span></label></h4>
                                                </div>
                                            </div>
                                              {% else %}
                                              <div class="col-sm-3">
                                                <div class="switch">
                                                    <label><input type="checkbox" ischecked><span class="lever switch-col-red"></span></label>
                                                </div>
                                            </div>
                                            {% endif %}
</th>
                                            <th>{{item.phone}}</th>
                                            <th>
                                              <div class="row">
                                                <button class="btn bg-light-green btn-circle waves-effect waves-circle waves-float"
                                                  onclick="return abrir_modal('{% url 'users:user_edit' item.id %}')">
                                                 <i class="material-icons">mode_edit</i></i></button>
                                                <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">delete_forever</i>
                                                </button>
                                              </div>
                                            </th>

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
            </div>

      </section>

      <script>

        function inactivar(id)
        {
          console.log(id)
          var data = {id:id};
          data = JSON.stringify(data);
          var token = '{{ csrf_token }}';+
          console.log(token)
          //alert(token);
          //alert(id);

          $.ajax({
            headers : {"X-CSRFToken":token},
            type:"POST",
            url:"/users/estado/"+id,
            data:data,
            success: function(response){
              if(response==="OK")
              {
                location.reload(true);
              }
              else{
                mensaje("Error Intentando cCambiar Estado a Cliente");
              }
            },
            error:function(jqXHR, textStatus, errorThrow){
              console.log(textStatus,errorThrow);
        mensaje(errorThrow,'red');
        cerrar_modal();
            }
          });
        }
      </script>
{% endblock page_content %}
